$cor-principal: #485460;
$cor-secundaria: #fff;
$cor-backgroud-btn:  #333;
$cor-backgroud-btn-hover:  #222;

$fonte-principal: 'Montserrat', sans-serif;
$padding-secoes: 2rem;
$largura-sidebar: 300px;




body {
    font-family: $fonte-principal;
    margin: 0;
}

#container-article {
    background-color: $cor-principal;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h2 {
    color: $cor-secundaria;


}

h1 {
    color: $cor-principal;
}

/* Seção Hero */
.hero {
    text-align: center;
    padding: $padding-secoes;
    width: 100%;
}

.hero-content {
    padding-top: $padding-secoes;
}

/* Seções Sinopse e Elenco */
.sinopse,
.elenco {
    text-align: center;
    padding-left: $padding-secoes;
    padding-right: $padding-secoes;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fotos li {
    list-style: none;
    /* Remove os marcadores da lista */
    text-align: center;
    flex: 1;
}

.fotos img {
    max-width: 100%;
    /* Garante que as imagens não ultrapassem a largura do container */
    height: auto;
    /* Mantém a proporção da imagem */
}

/* Sidebar */
.sidebar {
    text-align: center;
    padding: 1rem;
    width: $largura-sidebar;
}

/* Dispositivos */
.dispositivos {
    padding-top:$padding-secoes;
}

.dispositivos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.dispositivos li {
    margin: 1rem;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: $cor-backgroud-btn;
    color: $cor-secundaria;
    font-weight: bold;
    text-decoration: none;
    /* Remove o underline do link */
    border: none;
    border-radius: 5px;
    /* Adiciona cantos arredondados */
    cursor: pointer;
    /* Muda o cursor para mãozinha ao passar o mouse */
}

.btn:hover {
    background-color: $cor-backgroud-btn-hover;
    /* Muda a cor de fundo ao passar o mouse */
}

/* Rodapé */
footer {
    background-color: $cor-principal;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

p {
    color: $cor-secundaria;
}
